# Excluded directories
#
Literature/
Presentations/

# Exclude saved plots. They are saved as .svg and .pdf files
# 
Exercises/Assignment_*/Task_*/*.svg
Exercises/Assignemnt_*/Task_*/*.pdf
Exercises/Assignemnt_*/Task_*/*.log
Exercises/Assignemnt_*/Task_*/*.txt

# Exclude metafiles in Report folder.
#
# Exercises/Assignment_*/Report/aa.*
Exercises/Assignment_*/Report/*.aux
Exercises/Assignment_*/Report/*.log
Exercises/Assignment_*/Report/*.pdf

