# Excluded directories
#
Literature/
Presentations/
__pycache__/

# Exclude saved plots. They are saved as .svg and .pdf files
# 
*.svg
*.log
*.txt

# Exclude metafiles in Report folder.
#
# Exercises/Assignment_*/Report/aa.*
*.aux
*.log
*.pdf
*.swp

# Exclude submission archives.
#
*.tar.gz
